
h1 {
    color: purple;
    font-family: Georgia;
    
} 

.definition {
    font-size:small;
}  

.org {
    font-style:italic;
}

.pest {
    font-weight:bold;
}

a {
    text-decoration: none;
  }

a:hover {
    color:rgb(90, 24, 52);
    text-decoration: underline;
  }

  img {
      float:right;
      margin: 20px;
      border: 3px solid rgb(221, 94, 238);
      transition: width 2s, height 2s;
      
    }

    img:hover {
        height: auto;
        width: 25%;
    }

.vse {
    border-style: outset;
    width:1000px;
    padding: 10px;
    background: rgba(135, 86, 120, .4);
    display: inline-block;
    transition: all 0.5s ease-in-out;
}
.vse:hover {
    transform: translateX(100px);
}

   
    
      body {
        
        position: relative;
        
        background: linear-gradient(to top left, powderblue, pink);
        background-size: 400% 400%;
        animation-name: example; /*название ключ-фрейма (используется далее)*/
        animation-duration: 10s; /*длительность анимации*/
        animation-timing-function: ease-in-out; /*плавность анимации*/
        animation-iteration-count: infinite; /*цикл анимации*/
        animation-direction: alternate; /*определяет должна ли анимации проигрываться нормально или в реверсе 
        в зависимости от того как указано. alternate - четный - в нормальном, нечетный - в обратном*/
        animation-delay: 2s; /*длительность всей анимации*/
      
         }
      
      

      @keyframes example {
        from {background-position: 0% 50%;}
        50% {background-position: 50% 100%;}
        to {background-position: 100% 0%;}
      }
      
      @media (max-width: 1200px) {
        .vse {
          max-width: 90%;
        }
        h1 {
          font-size: 150%;
        }
        .definition {
          max-width: auto;
        }
        img {
          width: 100%;
          height: auto;
          margin: auto;
        }
        img:hover {
          height: auto;
          width: 50%;
      }
      }
      @media print {
        img {
        display:none;}
      }